<div class="col-sm-12">
    <h4>Dados Fiscais</h4>
</div>
<div class="col-sm-12">
    <div class="form-group">
        <label>Nome Fiscal</label>
        <input type="text" ng-model="marca.nomeFiscal" id="nomeFiscal" class="form-control">
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group">
        <label>Morada Fiscal</label>
        <input type="text" ng-model="marca.moradaFiscal" id="moradaFiscal" class="form-control">
    </div>
</div>
<div class="col-sm-4">
    <div class="form-group">
        <label>Código Postal</label>
        <input type="text" ng-model="marca.codigoPostalFiscal" id="codigoPostalFiscal" class="form-control">
    </div>
</div>
<div class="col-sm-4">
    <div class="form-group">
        <label>Localidade</label>
        <input type="text" ng-model="marca.localidadeFiscal" id="localidadeFiscal" class="form-control">
    </div>
</div>
<div class="col-sm-4">
    <div class="form-group">
        <label>Concelho</label>
        <input type="text" ng-model="marca.concelhoFiscal" id="concelhoFiscal" class="form-control">
    </div>
</div>
<div class="col-sm-2">
    <div class="form-group">
        <label>NIF</label>
        <input type="text" ng-model="marca.nif" id="nif" class="form-control">
    </div>
</div>