<div class="col-sm-2">
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="marca.publicar"> Publicar
            </label>
        </div>
    </div>
</div>
<div class="col-sm-2">
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox"> Destaque Categorias
            </label>
        </div>
    </div>
</div>
<div class="col-sm-2">
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox"> Destaque Sub-Categoria
            </label>
        </div>
    </div>
</div>