<div class="col-sm-4">
    <div class="form-group">
        <label for="logoMarca">Logotipo Marca</label>
        <input type="file" id="logoMarca">
    </div>
</div>
<div class="col-sm-4">
    <div class="form-group">
        <label for="imagem1">Imagem 1</label>
        <input type="file" id="imagem1">
    </div>
</div>
<div class="col-sm-4">
    <div class="form-group">
        <label for="imagem2">Imagem 2</label>
        <input type="file" id="imagem2">
    </div>
</div>
<div class="col-sm-4">
    <div class="form-group">
        <label for="imagem3">Imagem 3</label>
        <input type="file" id="imagem3">
    </div>
</div>
<div class="col-sm-4">
    <div class="form-group">
        <label for="imagem4">Imagem 4</label>
        <input type="file" id="imagem4">
    </div>
</div>