<div class="container">
    <div class="row text-center">
        <h3>Textos Gerais</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Titulo Vertentes PT</label>
                <input type="text" ng-model="" id="nomeFiscal" class="form-control">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label>Titulo Vertentes ENG</label>
                <input type="text" ng-model="" id="moradaFiscal" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Vertente 1 PT</label>
                <input type="text" ng-model="" id="codigoPostalFiscal" placeholder="Turismo" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Vertente 1 ENG</label>
                <input type="text" ng-model="" id="localidadeFiscal" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Vertente 2 PT</label>
                <input type="text" ng-model="" id="concelhoFiscal" placeholder="Marcas Portuguesas Online" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Vertente 2 ENG</label>
                <input type="text" ng-model="" id="nif" class="form-control">
            </div>
        </div>
    </div>
</div>